/* styles.css */

/* global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive; 
    color: #dec7a4;
    background-image: url("https://images.unsplash.com/photo-1694659460204-0cf2c4680562?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: xx-large;
    -webkit-text-stroke: 0.5px #3f251f;
}

img {
    width: 100px; 
    height: 100px; 
  }

h1, h2 {
    margin: 0;
    padding: 0;
}


/* intro styles */
.intro {
    position: relative;
    height: 300px;
    width: auto;
    font-size: x-large;
    border-bottom: 1px solid gray;
}

/* search styles */
.search {
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

#search-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

button {
    background-color: #3f251f;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: auto;
}

button:hover {
    background-color: #dec7a4;
}

/* results style */
#results {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start; 
    max-width: 800px;
    margin: 0 auto;
}

.cocktail-container {
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #3f251f;
    color: white;
    border-radius: 5px;
    font-size: smaller;
    width: 100px;
}

h3 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: large;
    text-decoration: underline;
}

ingredients-label,
.instructions-label {
    font-weight: bold;
}

.ingredients-list,
.instructions-text {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Footer styles */
footer {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin-right: 20px;
}

footer ul li a {
    text-align: center;
}